<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedruntime version="v4.0" sku=".netframework,version=v4.5.2" />
  </startup>-->
  <system.runtime.remoting>
    <application name="server">
      <service>
        <wellknown type="OrderList" mode="Singleton"
        objectUri="orderList" />
        <activated type="OrderList" />
      </service>
      <channels>
        <channel ref="tcp" port="999"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>